.react-calendar {
    width: 550px !important;
    height: auto;
    max-width: 100% !important;
    font-family: Arial, Helvetica, sans-serif !important;
    
}

.react-calendar__tile {
    padding: 1em 0.5em !important;
}