body {
  margin: 0px;
  background-color: #3b70a2;
}
.faixa1{
  display: flex;
  flex-direction: row;    
  
  background-color: #174580;
  color: white;

  padding: 2.5em;
  margin: 2em;
  border-radius: 20px;
  
  display: flex;
  align-items: center;
}

.dadosperfil{     
    padding-left: 2.5em;

    
  }

.dados{
    font-size: 35px;

}

.dados2{
  font-size: 30px;
}

.fotoperfil{
    padding-left: 0.5em;
}

.faixa2{
  background-color: #174580;
  color: white;

  border-radius: 20px;

  padding: 2.5em;
  margin: 2em;
}

.textaviso{
  font-size: 30px;
}

.avisos{
    background-color: white;
    color: black;
    font-size: 20px;

    margin: 0.1em;
    padding: 0.5em;

    justify-content: center;
    align-items: center;
}

.faixa3{
  background-color: #174580;
  color: white; 

  border-radius: 20px;

  margin: 2.5em;
  padding: 2em;
}

.minhaagenda{
    font-size: 30px;

    padding-left: 10px;
}

.table-user{
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  padding: 1em;

}   

thead{
  background-color: #3B70A2;
}

table {
  margin-top: 10px;
}

tbody {
   background-color: #DDDDDD;
}

td {
  text-align: left;
  padding: 2.5em;
  color: black;
  font-weight: 600;
}

th {
  text-align: left;
  padding: 2.5em;
  color: #ffff;
  font-weight: 600;
} 